.mainMore {
  width: 90%;
  background: #000;
  margin-top: 25px;
  padding: 15px;
  opacity: 0.7;
  color: @clr-white;
  div {
    text-align: center;
    margin-block: 30px;
    margin-bottom: 10px;
    p {
      .font;
      margin-block: 10px;
      font-size: 1.3rem;
    }
    .mainMoreWindInfo {
      font-size: 1rem;
      i {
        margin-right: 5px;
      }
    }
    #mainMoreWind,
    #mainMoreHumidity,
    #mainMoreVisibility,
    #mainMoreAir {
      font-size: 1.3rem;
      span {
        margin-left: 6px;
        font-size: 1rem;
      }
    }
  }
}
