@media (min-width: 637px) {
  .headerSearchAndButton {
    flex-wrap: unset !important;
    button {
      margin-top: 0px !important;
    }
  }
}
@media (min-width: 800px) {
  .mainMore {
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
  }
}
