* {
  margin: 0;
  padding: 0;
}
.font {
  font-family: 'Roboto', sans-serif;
}
body {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 95vh;
  height: auto;
  font-family: 'Roboto', sans-serif;
}
body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 25px;
}
body header .headerOptions {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-inline: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body header i {
  -webkit-filter: invert(1);
          filter: invert(1);
  background: none;
  font-size: 25px;
}
body header .searchCountry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .searchCountry input {
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  width: 70%;
  background: #818181;
  color: #fff;
  outline: none;
}
body header .searchCountry input:focus {
  background: #494b52;
}
body header .searchCountry ::-webkit-input-placeholder {
  color: #fff;
}
body header .searchCountry ::-moz-placeholder {
  color: #fff;
}
body header .searchCountry :-ms-input-placeholder {
  color: #fff;
}
body header .searchCountry ::-ms-input-placeholder {
  color: #fff;
}
body header .searchCountry ::placeholder {
  color: #fff;
}
body header .searchCountry button {
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background: #8ea4f7;
  color: #fff;
  font-size: 1rem;
}
.displayNone {
  display: none !important;
}
main {
  padding: 10px;
}
main #main-weather .mainWeatherInspiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 50px;
}
main #main-weather .mainWeatherInspiration div {
  width: 70%;
}
main #main-weather .mainWeatherInspiration div p {
  color: #fff;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 1.2rem;
}
main #main-weather .mainWeatherInspiration div #mainPhraseAutor {
  font-size: 1rem;
}
main #main-weather .mainWeatherInspiration i {
  -webkit-filter: invert(1);
          filter: invert(1);
  background: none;
  font-size: 25px;
}
main #main-weather #mainGreetingsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px 0px 0px 15px;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main #main-weather #mainGreetingsContainer #mainGreetings {
  margin-right: 10px;
}
main #weatherNivel {
  color: #fff;
  text-align: center;
  margin-top: 25px;
}
main #weatherNivel p {
  font-size: 6rem;
}
main #weatherNivel p span {
  font-size: 1.5rem;
}
main #weatherNivel .weatherNivelCountry {
  font-size: 1.3rem;
}
main .weatherInformationContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .weatherInformationContainer .moreButton {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 25px 15px 0px 15px;
  width: 90px;
  background: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}
main .weatherInformationContainer .moreButton i {
  margin-left: 7px;
  font-size: 20px;
}
main .weatherInformationContainer .locationError {
  font-size: 1.2rem;
  color: red;
  text-align: center;
}
.mainMore {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fbfdff), color-stop(#e5e6e8), color-stop(#cfcfd1), color-stop(#b9b9ba), to(#a4a4a4));
  background-image: linear-gradient(to bottom, #fbfdff, #e5e6e8, #cfcfd1, #b9b9ba, #a4a4a4);
  margin-top: 25px;
  padding: 15px;
  opacity: 0.8;
}
.mainMore div {
  text-align: center;
  margin-block: 30px;
  margin-bottom: 10px;
}
.mainMore div p {
  font-family: 'Roboto', sans-serif;
  margin-block: 10px;
  font-size: 1.3rem;
}
.mainMore div .mainMoreWindInfo {
  font-size: 1rem;
}
.mainMore div .mainMoreWindInfo i {
  margin-right: 5px;
}
.mainMore div #mainMoreWind,
.mainMore div #mainMoreHumidity,
.mainMore div #mainMoreVisibility,
.mainMore div #mainMoreAir {
  font-size: 1.3rem;
}
.mainMore div #mainMoreWind span,
.mainMore div #mainMoreHumidity span,
.mainMore div #mainMoreVisibility span,
.mainMore div #mainMoreAir span {
  margin-left: 6px;
  font-size: 1rem;
}
